<!doctype html>
<html lang="pt" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boletim On-line</title>
</head>
<body>
<div>
    <h1>Não foi localizado um aluno com os dados informados.</h1>
    <p>Desculpe, essa matrícula não está cadastrada na base de dados.</p>
    <a href="/">Voltar</a>
</div>
</body>
</html>